$primary: hsl(198, 73%, 44%);
$primary-1: hsl(198, 73%, 54%);

$gray: hsl(0, 0%, 80%);
$gray-1: hsl(0, 0%, 70%);

$dark: #232323;

$light: hsl(0, 0%, 100%);
$light-1: hsl(0, 0%, 98%);


$section-pd: 10rem 0;



$break-sm: 790px;
$break-md: 1130px;